
@using HomeStats.Models;
@model IEnumerable<House>

@{
    ViewData["Title"] = "HomeStats";
}

@section Scripts {
    <script>
        var model = {
            houses: ko.observableArray(),
            counters: ko.observableArray(),
            editorhouse: {
                street: ko.observable("street"),
                house: ko.observable("13")
            },
            editorcounter: {
                idHouse: ko.observable("20"),
                serial: ko.observable("shetchik"),
                reading: ko.observable("11111")
            },
            displaySummary: ko.observable(true),
            displayAddHouse: ko.observable(false),
            displayAddCounter: ko.observable(false),
            displaySummaryCounter: ko.observable(false)
        };

        function sendAjaxRequest(httpMethod, callback, url, reqData) {
            $.ajax("/api" + (url ? "/" + url : ""), {
                type: httpMethod,
                success: callback,
                data: JSON.stringify(reqData),
                accepts: "application/json",
                contentType: "application/json"
                
            });
        }

        function getAllItems() {
            sendAjaxRequest("GET", function (data) {
                model.houses.removeAll();
                for (var i = 0; i < data.length; i++) {
                    model.houses.push(data[i]);
                    for (var j = 0; j < data[i].counters.length; j++) {
                        model.counters.push(data[i].counters[j]);
                    }
                    
                }
            }, "/house");
        }

        function removeItem(item) {
            sendAjaxRequest("DELETE", function () {
                for (var i = 0; i < model.houses().length; i++) {
                    if (model.houses()[i].idHouse == item.idHouse) {
                        model.houses.remove(model.houses()[i]);
                        break;
                    }
                }
            }, "/house/" + item.idHouse);
        }

        function removeItemCounter(item) { 
            sendAjaxRequest("DELETE", function () {
                for (var i = 0; i < model.counters().length; i++) {
                    if (model.counters()[i].idCounter == item.idCounter) {
                        model.counters.remove(model.counters()[i]);
                        break;
                    }
                }
            }, "/counter/" + item.idCounter);
        }

        function handleCreateHouseClick() {
            model.displaySummary(false);
            model.displayAddHouse(true);
        }

        function handleCreateCounterClick() {
            model.displaySummary(false);
            model.displayAddCounter(true);
        }

        function handleShowCounterClick() {
            model.displaySummaryCounter(true);
        }

        function handleHideCounterClick() {
            model.displaySummaryCounter(false);
        }

        function handleEditorHouseClick() {
            sendAjaxRequest("POST", function (newItem) {
                model.houses.push(newItem);
                model.displaySummary(true);
                model.displayAddHouse(false);
            }, "/house", {
                    streetName: model.editorhouse.street(),
                    houseNumber: model.editorhouse.house()
                });
        }

        function handleEditorCounterClick() {

            if (model.editorcounter.reading() > 0) {
                sendAjaxRequest("POST", function (newItem) {
                    model.counters.push(newItem);
                    model.displaySummary(true);
                    model.displayAddCounter(false);
                }, "/counter", {
                        idHouse: model.editorcounter.idHouse(),
                        Serial: model.editorcounter.serial(),
                        Reading: model.editorcounter.reading()
                    });
            }
            else {
                alert("Показания не могут быть ниже 0")
            }
        }

        $(document).ready(function () {
            getAllItems();
            ko.applyBindings(model);
        });
    </script>

}@*<pre data-bind="text: ko.toJSON($data, null, 2)"></pre>*@

    <div id="summary" class="section panel panel-primary" data-bind="if: model.displaySummary">

        <div class="panel-heading">Все дома</div>
        <div class="panel-body">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Улица
                        </th>
                        <th>
                            Дом
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: model.houses">
                    <tr>
                        <td data-bind="text: idHouse"></td>
                        <td data-bind="text: streetName"></td>
                        <td data-bind="text: houseNumber"></td>
                        <td>
                            <button class="btn btn-xs btn-primary"
                                    data-bind="click: removeItem">
                                Удалить дом
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <table class="table">
                                <thead title="Счётчики">
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            ID дома
                                        </th>
                                        <th>
                                            Серийный номер
                                        </th>
                                        <th>
                                            Показания
                                        </th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: counters">
                                    <tr>
                                        <td data-bind="text: idCounter"></td>
                                        <td data-bind="text: idHouse"></td>
                                        <td data-bind="text: serial"></td>
                                        <td data-bind="text: reading"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
            <button class="btn btn-primary"
                    data-bind="click: handleCreateHouseClick">
                Добавить дом
            </button>
            <button class="btn btn-primary"
                    data-bind="click: handleShowCounterClick">
                Счётчики
            </button>
        </div>
    </div>

    <div id="summarycounter" class="section panel panel-primary" data-bind="if: model.displaySummaryCounter">
        <div class="panel-heading">Все счётчики</div>
        <div class="panel-body">
            <button class="btn btn-primary"
                    data-bind="click: handleHideCounterClick">
                Cкрыть
            </button>
            <table class="table">
                <thead title="Счётчики">
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            ID дома
                        </th>
                        <th>
                            Серийный номер
                        </th>
                        <th>
                            Показания
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: model.counters">
                    <tr>
                        <td data-bind="text: idCounter"></td>
                        <td data-bind="text: idHouse"></td>
                        <td data-bind="text: serial"></td>
                        <td data-bind="text: reading"></td>
                        <td>
                            <button class="btn btn-xs btn-toolbar"
                                    data-bind="click: removeItemCounter">
                                Удалить счётчик
                            </button>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>


            <button class="btn btn-primary"
                    data-bind="click: handleCreateCounterClick">
                Добавить счётчик
            </button>

        </div>
    </div>

        <div id="editor" class="section panel panel-primary" data-bind="if: model.displayAddHouse">

            @*<pre data-bind="text: ko.toJSON($data, null, 2)"></pre>*@

            <div class="panel-heading">
                Добавить дом
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Улица</label>
                    <input class="form-control" data-bind="value: model.editorhouse.street" />
                </div>
                <div class="form-group">
                    <label>Номер дома</label>
                    <input class="form-control" data-bind="value: model.editorhouse.house" />
                </div>
                <button class="btn btn-primary"
                        data-bind="click: handleEditorHouseClick">
                    Сохранить
                </button>
            </div>
        </div>

        <div id="editor" class="section panel panel-primary" data-bind="if: model.displayAddCounter">

            @*<pre data-bind="text: ko.toJSON($data, null, 2)"></pre>*@

            <div class="panel-heading">
                Добавить счётчик
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>ID дома</label>
                    <input class="form-control" data-bind="value: model.editorcounter.idHouse" />
                </div>
                <div class="form-group">
                    <label>Cерийный номер</label>
                    <input class="form-control" data-bind="value: model.editorcounter.serial" />
                </div>
                <div class="form-group">
                    <label>Показания</label>
                    <input class="form-control" data-bind="value: model.editorcounter.reading" />
                </div>
                <button class="btn btn-primary"
                        data-bind="click: handleEditorCounterClick">
                    Сохранить
                </button>
            </div>
        </div>


