
@using HomeStats.Models;
@model IEnumerable<House>

@{
    ViewData["Title"] = "HomeStats";
}

<hr />

    <div id="summary" class="section panel panel-primary">
        @await Html.PartialAsync("Summary", Model)
    </div>
    <div id="editor" class="section panel panel-primary">
        @await Html.PartialAsync("Editor", new House())
    </div>



